#login-btn {
  border-radius: 8px;
  background: rgb(188, 142, 91);
  color: rgb(255, 255, 255);
  padding: 12px 24px;
  font-size: 16px;
  line-height: 24px;
}

#login-btn:hover {
  text-decoration: none;
  background-color: rgb(245, 208, 170);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px -1px,
    rgba(0, 0, 0, 0.14) 0px 4px 5px 0px, rgba(0, 0, 0, 0.12) 0px 1px 10px 0px;
}

.enter_link {
  font-weight: 800;
}
